* {
    -webkit-tap-highlight-color:transparent;
}

body {
    margin: 0;
}

.action {
    padding: 20px 0;
    text-align: center;
}

.action button {
    width: 80px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.action button.cur {
    background-color: #007bff;
}

.card {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    border: 1px saddlebrown solid;
    cursor: pointer;
}